@model Vet.Models.Veterin

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Veterinario</h1>

<div>
    <h4>Veterin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCedulaProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd class = "col-sm-10">
            @*Html.DisplayFor(model => model.Fotografia)*@
            <img src="~/Imagens/Vets/@Model.Fotografia" alt="fotografia de @Model.Nome" title="@Model.Nome" height="300"/>
        </dd>
    </dl>
    <div>
        <h2>Consultas</h2>
        <table class="table">
            <tr>
                <th>Data de Consulta</th>
                <th> Animal</th>
                <th>Dono</th>
            </tr>
            @foreach(var consulta in Model.Listconsultas)
            <tr>
                <td>
                    @*Data*@
                </td>
                <td>
                    @*Animal*@
                </td>
                <td>
                    @*Dono*@
                </td>
            </tr>
        </table>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Veterinarios">Back to List</a>
</div>
